:root {
    --celeste: hsla(178, 100%, 89%, 1);
--non-photo-blue: hsla(188, 65%, 72%, 1);
--cool-gray: hsla(240, 18%, 61%, 1);
--feldgrau: hsla(160, 11%, 36%, 1);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #eeede2e7;
    color:var(--feldgrau);
    margin: 0px;
}

.logo {
    max-width: 90px;
    display: block;
    /*margin: auto; */
}
.navigation {
    text-align: center;
}
.navigation a {
    color:var(--khaki);
    text-decoration: none;
    padding: 20px 10px;
    display: inline-block;
}
.navigation a:hover {
    background-color:hsl(180, 10%, 75%);
}
.banner {
    min-height: 50vh;
    background-image: url("images/uran-wang-zu2dcPNpJ0o-unsplash.jpg");
    /*to fit image inside banner box, use background-size: contain;*/
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1 {
    font-size: 3em;
    font-weight: 800;
    color: cornsilk;
    font-size: 7em;
    text-shadow: 1px 0px 1px #333333;
    letter-spacing: 20px;
}
.banner h1:hover {
    filter: blur (5px);
}
.main-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
}
#search-form {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}
#search-form input {
    border: 1px solid #cccccc;
    padding: 0.5em;

}
#search-form button {
    border: 1px solid #cccccc;
    padding: 0.5em;
}
.content {
    max-width: 1000px;
    margin: auto;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.card-image {
    max-width: 100%;
    display: block;
    aspect-ratio: 3/4;
    object-fit :cover;
    object-position : center;
    border-radius :10px;
}
.front-carousel {
    min-width: 100%;
    min-height: 50vh;
    background-color:var(--feldgrau) ;
}
.cell {
    width: 100%;
    min-height: 50vh;
    display: grid;
    place-items: center;
}
.cell:nth-child(1) {
    background-color: aquamarine;
    background-image: url("carousel/matthieu-joannon-6ciLddToTgM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 4em;
}
.cell:nth-child(2) {
    background-color:azure;
    background-image: url("carousel/chelsea-pridham-MMOXoxE_Gj0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 4em;
}
.cell:nth-child(3) {
    background-color:bisque;
}
.cell:nth-child(4) {
    background-color:darkred;
}
.cell:nth-child(5) {
    background-color:palegoldenrod;
}